* {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

h3 {
    color: #1B75BB;    
}

span {
    font-weight: bold;
}

p {
    color: #58585B;
}

#subtitle {
    font-weight: 200;
    letter-spacing: 1px;
}

.btn-pod {
    font-size: 13px;
}
